<div>

    <div class="izquierda">
      <div>
        <h1>Datos de una persona</h1>
        <hr>
    
        <div *ngIf="mostrar"  class="card">
            <div class="container">
              <h4>
                <b>{{ datos.nombre }}</b>
              </h4>
              <p>{{ datos.edad }}</p>
            </div>
    </div>
    
    
  
        <div class="btn">
          <button class="boton" (click)="mostrar=!mostrar">Mostrar/Ocultar</button>
        </div>
        
      </div>
          
    </div>
  